<launch>
  <!-- Arguments -->
  <arg name="robot_name" default="iris"/>
  <arg name="xacro_file" default="$(find iris_stonefish)/data/urdf/iris.urdf.xarco"/>

  <!-- Robot description -->
  <param name="$(arg robot_name)/robot_description" command="$(find xacro)/xacro '$(arg xacro_file)' robot_namespace:=$(arg robot_name)"/>
  
  <!-- Robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <remap from="robot_description" to="$(arg robot_name)/robot_description"/>
  </node>
</launch>
